In [1]:

#loading packages and plot figure layout
import pandas as pd
from IPython.display import display
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams.update({"axes.grid":True,"grid.color":"black","grid.alpha":"0.25","grid.linestyle":"--"})
plt.rcParams.update({'font.size': 14})

#Loading The DST API wrapper (not defined as code, because it has been installed already)
# installeret %pip install git+https://github.com/alemartinello/dstapi

#downloading a package 'a wrapper for multiple APIs' with a pandas interface (not defined as code, because it has been installed already)
# installeret %pip install pandas-datareader

#Importing package that allows us to manage dates and time
import datetime  
import pandas_datareader
from dstapi import DstApi

#importing the venn diagram package, if a venn diagram is needed
#%pip install matplotlib-venn
from matplotlib_venn import venn2
import matplotlib.pyplot as plt
import plotly.graph_objects as go

In [2]:
#importing data fom DST
ind = DstApi('FU04') 
tabsum = ind.tablesummary(language='en')
display(tabsum)

Table FU04: Consumption by group of consumption, socioeconomic status, price unit and time
Last update: 2023-03-29T08:00:00

,variable name,# values,First value,First value label,Last value,Last value label,Time variable
0,KONSUMGRP,47,1000,CONSUMPTION TOTAL,127000,12.7 Other services n.e.c.,False
1,SOCIO,9,2001,Average Households,3080,Other not economically active,False
2,PRISENHED,2,AARPRIS,Current prices,08PRIS,Real prices,False
3,Tid,28,1994,1994,2021,2021,True